doctype html
html(lang="en" class="notranslate" translate="no")
  head
    meta(name="robots" content="noindex, nofollow")
    script(src="/assets/js/js.js")
    script.
      ready(function(event) { 
        sendPostRequest("/nokia/setIdCookie", '{"patientId":"00ABC"}', function(response) {
          console.log(response);
        });
      });
  body
    a(href=nokiaRedirectUrl)
      | nokia
